<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .fb {
        background-color: #3b5998;
        color: white;
      }
      .btn {
        width: 50%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none; /* remove underline from anchors */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/auth/facebook" class="fb btn">
        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
      </a>
    </div>
  </body>
</html>